*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-image:url("christmas.jpg");
    background-size:cover;
}

#map{
    float: left;
}

#introduce{
    font-family: 'Sunflower', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-left : 100px;
}

p{
    line-height:45px;
    color:white;
}

#right {
    float: right;
    margin-top: -30%;
    margin-right: 40px;
}

.bgSizeContain {

  background-image : url(//dapi.kakao.com/v2/maps/sdk.js?appkey=cbfbedfb1209e5dc35be17a161817637);
    
  background-size: contain;

  width: 160px;

  height: 160px;

  border: 2px solid;

  color: pink;

  resize: both;

  overflow: scroll;

}
